<IfModule mod_authz_core.c>
  <Files "config.php">
    Require all denied
  </Files>
  <FilesMatch "\.(sql|md)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <Files "config.php">
    Order allow,deny
    Deny from all
  </Files>
  <FilesMatch "\.(sql|md)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
